/*
    NÃO ALTERE OU EXCLUA ESTE ARQUIVO
*/

@import url("./InputData/index.css");
@import url("./SignatureInPage/index.css");
@import url("./SignatureDialog/index.css");
@import url("./WriteSignature/index.css");

/*
    FAMILIA DE FONTES
*/
@import url('https://fonts.googleapis.com/css2?family=Bilbo&family=Meow+Script&family=Mrs+Saint+Delafield&family=Ms+Madi&family=Sacramento&family=Yellowtail&display=swap');


.kemis-library-button-cancel {
    background-color: #c9c9c9 !important;
}

.kemis-library-button-submitting {
    background-color: #2e90fd !important;
}

.kemis-library-button-submitting[data-submitting=true] {
    opacity: 0.5;
    cursor: not-allowed;
}