/*
    NÃO ALTERE OU EXCLUA ESTE ARQUIVO
*/

@import url("./InputData/index.css");
@import url("./SignatureInPage/index.css");
@import url("./SignatureDialog/index.css");
@import url("./WriteSignature/index.css");

/*
    FAMILIA DE FONTES
*/

@import url('https://fonts.googleapis.com/css2?family=Bilbo&family=Meow+Script&family=Mrs+Saint+Delafield&family=Ms+Madi&family=Sacramento&family=Yellowtail&display=swap');

/* latin */
@font-face {
  font-family: 'Bilbo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/Bilbo/Bilbo-Regular.ttf") format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Meow Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/Meow_Script/MeowScript-Regular.ttf") format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Mrs Saint Delafield';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/Mrs_Saint_Delafield/MrsSaintDelafield-Regular.ttf") format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Ms Madi';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/Ms_Madi/MsMadi-Regular.ttf") format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Sacramento';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/Sacramento/Sacramento-Regular.ttf") format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/Yellowtail/Yellowtail-Regular.ttf") format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



.kemis-library-button-cancel {
    background-color: #c9c9c9 !important;
}

.kemis-library-button-submitting {
    background-color: #2e90fd !important;
}

.kemis-library-button-submitting[data-submitting=true] {
    opacity: 0.5;
    cursor: not-allowed;
}