.kemis-input-date {
    appearance: none;

    width: 100%;
    height: 46px;
    border: 1px solid #d1d5db; 
    border-radius: 6px;
    background-color: white;
    padding: 0.75rem;

    color: #4b5563;

    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;

    &:focus, &:hover {
        border-color: #4f46e5;
    }

    &:focus {
        box-shadow: 1px 1px 1px 1px #a5f3fc;
    }

    &:disabled {
        background-color: #f1f5f9;

        &:hover {
            border-color: #c2c2c2;
        }
    }


    &[data-haserror=true] {
        border: 1.5px solid red;
    }
}